<div class="container" id="duration-type-planner-container-main">
  <form action="/planit">
    <div class="plannerForm">
      <h1 style="color:#fff">Plan Your Own Trip</h1>
      <!-- <div class="input-group" id="dropdownMenuTripType">
        <label for="location">Location</label>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuTripType">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        <input type="text" id="location">
      </div> -->
      <div class="formInputs">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group text-primary" for="inputGroupSelect01" id="tripTypeTitle"
              style="background: #fff;">
              Trip Type</label>
          </div>
          <!-- <select class="custom-select" id="inputGroupSelect01"> -->
          <select id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">Family Trip</option>
            <option value="2">Family With Children Trip</option>
            <option value="3">Young People Trip</option>
            <option value="4">Honeymoon Trip</option>
            <option value="5">Romantic Trip</option>

          </select>
        </div>
        <div class="check-in-out">
          <div class="input-group">
            <label class="text-primary" for="trip-start">Start</label>
            <input type="text" id="trip-start" autocomplete="off" class="date-picker">
          </div>
          <div class="input-group">
            <label class="text-primary" for="trip-end">End</label>
            <input type="text" id="trip-end" autocomplete="off" class="date-picker">
          </div>
        </div>
      </div>

    </div>

  </form>
</div>

<div class="tryDynamic" id="previews">



</div>


<!-- <iframe id="calendar-frame" src="https://calendar.google.com/calendar/embed?src=5a4d87ff37274a7932031990d00610343420d4ece7f83f1345f9656c6019e6b7%40group.calendar.google.com&ctz=Europe%2FBerlin" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->
<!-- <div class="timeline-container">
      <div class="row no-gutters">
        <div class="col-2"></div>
        <div class="col-10">
          <div class="timeline">
            <div class="row no-gutters">
              <div class="col-2"></div>
              <div class="col-10">
                <div class="timeline__hours row no-gutters"></div>
                <div class="timeline__minutes row no-gutters"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
<div class="container" id="body">
  <div class="row map_wrapper2 p-0">
    <div class="col-lg-9 col-md-12 p-0" id="perspective2">
      <div id="plate2">
        <div id="map2"></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 selected_activity">
      <h6>Choose a marker to view the activity</h6>
      <div id="selectedActivityContainer"></div>
      <!-- <button class="btn custom-btn btn-3" id="routesButton"><span>Compare with other routes</span></button> -->
    </div>
  </div>
  <div class="row">
    <div id="par2" class="row">
      <div class="col-9">
        <h2>Routes Compare</h2>
        <p>
          Compare with other routes
        </p>
      </div>
      <!-- TODO prevent on click - now append infinity -->
      <div class="more-stories my-0" id="routesButton" style="color: var(--primary-blue)">
        <h3>Compare <i class="fa-solid fa-chevron-right"></i></h3>
      </div>
    </div>
    <!-- <button class="btn custom-btn btn-3" id="routesButton"><span>Compare with other routes</span></button> -->
  </div>
</div>

<!-- <div class="map_wrapper" id="body">
  <div id="perspective">
    <div id="plate">
      <div id="map"></div>
    </div>
  </div>
  <button class="btn custom-btn btn-3" id="routesButton"><span>Compare with other routes</span></button>
</div> -->


<!-- <section class="container bigCompare" id="bigCompareTitle"></section> -->
<section class="container compares" id="compareTable" style="display:none"></section>

<!-- <section class="container  bigDiff" id="bigDiffTitle"></section> -->
<section class="container  differences" id="differTable" style="display:none"></section>

<!-- <section class="container bigMerg" id="bigMergTitle"></section> -->
<section class="container merging" id="mergedTable" style="display:none"></section>

<div class="modal" style="display: none">
  <div class="modal-body">
    <div class="modal-title">
      <h3 class="modal-title-text">No time To add this activity!</span>
        <button type="button" class="modal-close modalClose">×</button>
    </div>
    <div class="modal-inner">
      <span class="modal-text">Do you want to replace?</span>
    </div>
    <div class="modal-button-group">
      <button type="button" class="btn btn-secondary md-btn-s modalClose">OK!</button>
    </div>
  </div>
</div>